* {
  margin: 0;
  padding: 0;
}

html {
  background: #f2efe6;
}

body {
  position: relative;
  font-family: sans-serif;
  font-size: 100%;
  color: #333;
}

#halberd {
	moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 8px 8px 0 0;
  position: relative;
  left: -12em;
  margin-top: 5%;
  margin-left: 50%;
  width: 26em;
  background: #d3d1c9;
}

section {
	border-bottom: solid 3px #ccc;
	margin-bottom: 1em;
  padding: 0 1em;
}

ul {
	margin: 1em 0;
}

li {
	margin-left: 1em;
}

h2 {
	background: #a6a69c;
	border-radius: 8px 8px 0 0;
	margin: 0 0 0.33em;
  padding: 0.33em 0.7em;
}

.gravatar img {
	border: solid 1px #ccc;
	height: 150px;
	margin-bottom: 1em;
	width: 150px;
}

.gravatar h3 {
	position: relative;
	top: 3em;
	left: 175px;
	width: 11em;
}

#sign-in {
  margin-top: 0.5em;
  padding: 1em 0;
  border-top: solid 1px #333;
}

p#sign-in-link {
  margin-top: 1em;
  text-align: center;
}

p#sign-in-link a {
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  background: #fff;
}

p#sign-in-link a:hover, p#sign-in-link a:focus {
  color: #fff;
  background: #333;
}