<p>Hello <%= @resource.email %></p>

<p>Someone has requested to create or change your password, and you can do this through the link below.</p>

<p><%= link_to 'Set password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If the above link doesn't work you can copy the following into your browsers address bar: <%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you're resetting your password it won't be changed until you access the link above and create a new one.</p>
